{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>

{% block content %}
{{film.title}} <br>
{{film.rating}} <br>
{{film.orig_title }} {{film.age_rate }}<br>
Год производства {{film.year}} <br>
Страна {{film.country}} <br>
Жанр
{% for g in genres %}
{{ g.name }}
{% endfor %}
<br>

Слоган {{film.tagline}} <br>
Режиссёр
{% for d in director %}
<a href="{{ d.get_absolute_url }}">{{ d.name }}</a>
{% endfor %}
<br>
Оператор
{% for o in operator %}
<a href="{{ o.get_absolute_url }}">{{ o.name }}</a>
{% endfor %}
<br>
{{film.description}} <br>

{% if film.poster %}
<p ><img class="img-article-left" src="{{film.poster.url }}"></p>
{% endif %}



В главных ролях:
{% for a in actor %}
<ul>
    <li>
    <div><a href="{{ a.get_absolute_url }}">{{ a.name }}</a></div>
    </li>
</ul>
{% endfor %}


{% endblock content %}
</body>
</html>