<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
{{film.title}} <br>
{{film.orig_title }} <br>
Год производства {{film.year}} <br>
Страна {{film.country}} <br>
Жанр
{% for g in genres %}
{{ g.name }}
{% endfor %}
<br>

Слоган {{film.tagline}} <br>
{{film.description}} <br>

{{film.poster}} <br>

В главных ролях:
{% for a in actors %}
<ul>
    <li>
    <div><a href="{{ a.get_absolute_url }}">{{ a.name }}</a></div>
    </li>
</ul>
{% endfor %}


{% endblock content %}
</body>
</html>