{% load static%}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>

{% block content %}
{% if film.poster %}
<p ><img class="img-article-left" src="{{film.poster.url }}"></p>
{% endif %}

{{film.title}} <br>
{{film.rating}} <br>
{{film.orig_title }} {{film.age_rate }}<br>
Год производства {{film.year}} <br>
Страна {{film.country}} <br>
Жанр
{% for g in genres %}
{{ g.name }}
{% endfor %}
<br>

Слоган {{film.tagline}} <br>
Режиссёр
{% for d in director %}
<a href="{{ d.get_absolute_url }}">{{ d.name }}</a>
{% endfor %}
<br>
Сценарий
{% for w in writer %}
<a href="{{ w.get_absolute_url }}">{{ w.name }}</a>
{% endfor %}
<br>
Продюссер
{% for p in producer %}
<a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
{% endfor %}
<br>
Оператор
{% for o in operator %}
<a href="{{ o.get_absolute_url }}">{{ o.name }}</a>
{% endfor %}
<br>
Композитор
{% for c in composer %}
<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
{% endfor %}
<br>
Бюджет {{ film.budget|digit }}$<br>
Сборы в мире {{ film.gross_worldwide|digit }}$<br>
Премьера в мире {{ film.world_premiere }}<br>
Время {{ film.runtime }} мин.<br>
{{film.description}} <br>


В главных ролях:
{% for a in actor %}
<ul>
    <li>
    <div><a href="{{ a.get_absolute_url }}">{{ a.name }}</a></div>
    </li>
</ul>
{% endfor %}
<br>
        <div>
            <div>
                <form action="#" method="post" enctype="multipart/form-data">
{% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}
                <div>
                    <label class="form-label" for="{{ f.id_for_label }}">{{f.label}} </label>{{ f }}
                </div>
                <div class="form-error">{{ f.errors }}</div>
{% endfor %}
                <button type="submit">Отправить</button>
                </form>


{% for r in film.reviews_film.all %}
                <div class="comment">
                    <div class="comment_author"> {{ r.user }} </div>
                    <time class="comment_date"> {{ r.time_in|date:'d M Y' }}</time>
                    <div class="comment_author"> {{ r.title }} </div>
                    <p class="comment_text">{{ r.text }}</p>


                </div>
{% endfor %}



{% endblock content %}
</body>
</html>