{% extends 'base.html' %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">


<body>

{% block content %}
{{person.name}} <br>

{% if person.photo %}
<p><img class="img-article-left" src="{{person.photo.url}}"></p>
{% endif %}
Карьера

{% is_actor %}
{% is_director %}
{% is_writer %}
{% is_producer %}
{% is_operator %}
{% is_composer %}
<br>
{% if person.height%}
Рост {{person.height }} <br>
{% endif %}
Дата рождения {{person.date_of_birth}} <br>
Место рождения {{person.birthplace}} <br>
Жанры
{% get_genres as genres %}
{% for g in genres %}
{{ g }}
{% endfor %}
<br>
{% get_films as films %}
Всего фильмов {{ films|length }} <br>


Лучшие фильмы
<!--<ul>-->
<!--  {% for a in person.film_actor.all %}-->
<!--    <li>    <a href="{{ a.get_absolute_url }}">{{ a }}</a> </li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--<ul>-->
<!--  {% for d in person.film_director.all %}-->
<!--    <li>    <a href="{{ d.get_absolute_url }}">{{ d }}</a> </li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--<ul>-->
<!--  {% for o in person.film_operator.all %}-->
<!--    <li>    <a href="{{ o.get_absolute_url }}">{{ o }}</a> </li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--<ul>-->
<!--  {% for w in person.film_writer.all %}-->
<!--    <li>    <a href="{{ w.get_absolute_url }}">{{ w }}</a> </li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--<ul>-->
<!--  {% for p in person.film_producer.all %}-->
<!--    <li>    <a href="{{ p.get_absolute_url }}">{{ p }}</a> </li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--<ul>-->
<!--  {% for c in person.film_composer.all %}-->
<!--    <li>    <a href="{{ c.get_absolute_url }}">{{ c }}</a> </li>-->
<!--{% endfor %}-->
<!--</ul>-->



<ul>
{% for f in films %}
<li> <a href="{{ f.get_absolute_url }}">{{ f }}</a> </li>
{% endfor %}
</ul>



{% endblock content %}
</body>
</html>