{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% block content %}
{{person.name}} <br>

{% if person.photo %}
<p><img class="img-article-left" src="{{person.photo.url}}"></p>
{% endif %}

Рост {{person.height }} <br>
Дата рождения {{person.date_of_birth}} <br>
Место рождения {{person.birthplace}} <br>
Жанры
{% for g in genres %}
{{ g.name }}
{% endfor %}
<br>
Всего фильмов {{ person.film_actor.count }}<br>

Лучшие фильмы
<ul>
  {% for a in person.film_actor.all %}
    <li>    <a href="{{ a.get_absolute_url }}">{{ a }}</a> </li>
{% endfor %}
</ul>
<ul>
  {% for d in person.film_director.all %}
    <li>    <a href="{{ d.get_absolute_url }}">{{ d }}</a> </li>
{% endfor %}
</ul>

<ul>
  {% for o in person.film_operator.all %}
    <li>    <a href="{{ o.get_absolute_url }}">{{ o }}</a> </li>
{% endfor %}
</ul>



{% endblock content %}
</body>
</html>